<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <div class="p-canvas">
      <div class="l-inner">
        <%- include('component/_c-button',{type: 'all', link: '#'}) %>
        <%- include('component/_c-button',{type: 'more', link: '#'}) %>
        <%- include('component/_c-button',{type: 'contact', link: '#'}) %>

        <%- include('project/_p-section-title',{title_ja: 'ブログ', title_en: 'Blog', en_position: 'right', layout_flg: 0}) %>

        <%- include('project/_p-section-title',{title_ja: 'お問い合わせ', title_en: 'Contact', en_position: 'left', layout_flg: 1}) %>

        <%- include('common/_footer') %>
      </div>
    </div>
    
  </body>
</html>