<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <%- include('component/_c-button',{type: 'all', link: '#'}) %>
    <%- include('component/_c-button',{type: 'more', link: '#'}) %>
    <%- include('component/_c-button',{type: 'contact', link: '#'}) %>

    <%- include('component/_c-button',{type: 'all', link: '#'}) %>

    
    
  </body>
</html>